<link rel="Stylesheet" href="/css/style.css" >

<title>TobeyTheGhost BOOkstore - Cart</title>
<link rel="Stylesheet" href="/css/style.css" >

</head>

<body>
	<nav>
		<div class="logo">
			<h1>TobeyTheGhost BOOkstore </h1>
			<!-- icon provided by <a href="https://www.flaticon.com/free-icons/story" title="story icons">Story icons created by Zulfa Mahendra - Flaticon</a> -->
			<a href="https://www.flaticon.com/free-icons/story" title="story icons"><img src="/images/ghost.png" alt="ghost icon"></a>

		</div>
		<ul class="navlinks"> 
			<li> <a th:href="@{/secure/index}">Home</a> </li>
			<li> <a th:href="@{/secure/shoppingCart}">View Shopping Cart</a> </li>
			<li> <a th:href="@{/secure/editBook}">Add Books to Store</a> </li>
			<li> <a th:href="@{/logout}">Logout</a> </li>
		</ul>
	</nav>


<h1>Your Cart</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		<tr th:each="book : ${cart}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.price}"></td>
			<td>
				<form th:action="@{/secure/shoppingCart/updateCart}" method="post">
					<input type="hidden" name="id" th:value="${book.id}" />
					<input type="number" name="quantity" th:value="${book.quantity}" min="0" />
			</td>
			<td>
				<button type="submit">Update</button>
				</form>
			</td>
		</tr>
	</table>

	<!-- Total Cost Section -->
	<h2>Total Cost: $<span th:text="${totalCost}">0.00</span></h2>

	<p><a th:href="@{/secure/thankyou}">Checkout</a></p>


<footer>
	<!-- Copyright notice -->
	<p>Copyright &#169; 2023 Mariah Falzon. </p>
</footer>

</body>

</html>