body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2CEA2;
    text-align: center;
}

nav {
    background-color: #D9725B;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logo {
    display: flex;
    align-items: center;
}

nav h1 {
    margin-left: 10px; /* Adjust the margin as needed */
    color: white;
}

nav img {
    width: 30px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

.navlinks {
    list-style-type: none;
    display: flex;
}

.navlinks li {
    margin-right: 15px;
}

.navlinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #A62934; /* Change to your preferred hover color */
}

h1,h3 {
    margin-top: 20px;
    color: #515932;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
   border-bottom: 1px solid #515932;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #515932;
}

tr:hover {background-color: #D93636;}

table a {
    text-decoration: none;
    color: #515932;
    transition: color 0.3s;
}

table a:hover {
    color: #fff; /* Change to your preferred hover color */
}

form {
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #F2CEA2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #A62934; /* Change to your preferred hover color */
}
