/* Reset some default styles for better consistency across browsers */
body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2CEA2;
    text-align: center;
}

nav {
    background-color: #D9725B;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logo {
    display: flex;
    align-items: center;
}

nav h1 {
    margin-left: 10px; /* Adjust the margin as needed */
    color: white;
}

nav img {
    width: 30px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

.navlinks {
    list-style-type: none;
    display: flex;
}

.navlinks li {
    margin-right: 15px;
}

.navlinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #A62934; /* Change to your preferred hover color */
}

h1 {
    margin-top: 20px;
    color: #515932;
}

div th\\:object span {
    font-weight: bold;
}

table {
    margin: 20px auto;
}

p {
    margin-bottom: 10px;
}

strong {
    margin-right: 5px;
}

span {
    font-style: italic;
}

/* Additional styles for the book details section */
div[th\\:object="${book}"] {
    margin-top: 20px;
}

footer {
    background-color: #D9725B;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
